main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
a.active,
a:hover {
  color: #4bbf73 !important;
  /* padding-left: 10px; */
  text-decoration: none !important;
  transition: all 0.2s;
  font-weight: bold;
}

aside {
  position: fixed;
  width: 22rem;
  height: 100vh;
  background-color: #e9e8e6;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside .padcat {
  padding-top: 2rem;
}
aside.open {
  transform: translateX(0);
  transition: ease-in;
  transition: all 0.5s;
}

button.open-sidebar {
  font-size: 2rem;
  margin: 0.2rem 0.5rem;
  background: none;
  color: #ffffff;
  border-style: solid;
  border-color: #343a40;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
  border-style: solid;
}

aside li {
  list-style: none;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-left: 15px;
}

aside a:hover {
  color: #4bbf73;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
  transition: all 0.2s;
}

button.close-sidebar {
  font-size: 1rem;
  margin-right: 2rem;
  padding: 0.3rem 0.8rem;
  border-style: solid;
  border-radius: 10%;
  border-color: #343a40;
  color: #343a40;
  background-color: #e9e8e6;
}
button.close-sidebar:hover {
  color: #4bbf73;
  border-color: #4bbf73;
  border-style: solid;
}

.active {
  color: #4bbf73;
  font-weight: 900;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.badge {
  background-color: red;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 50%;

  font-size: 1.4rem;
  position: relative;
  top: -50%;
  left: -3px;
}

.inputQty {
  width: 50px;
}

.trash {
  position: relative;
  top: -12px;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
  /* width: 100vw;
  height: 100vh; */
}

.map-input-box {
  box-sizing: border-box;
  position: relative;
  left: 450px;
  right: 0;
  top: 20px;
  margin: 0.5rem auto;
  width: 100vw;
  height: 80vh;
  /* display: flex; */
}
.map-input-box input {
  /* border-radius: 1rem 0 0 1rem; */
  border-right: 0;
}
.map-input-box button {
  /* border-radius: 0 1rem 1rem 0; */
  border-left: 0;
}
